{% extends "base.html" %}

{%block header%}
  <nav class="navbar navbar-expand-lg navbar-dark bg-success">
    <a class="navbar-brand" href="{% url 'friends:index' %}">Friends App</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto d-flex justify-content-between">
        <div class="d-flex">
          <li class="nav-item active">
            <a href="{% url 'friends:index' %}" class="nav-link">Friends</a>
          </li>
          <li class="nav-item active">
            <a href="{% url 'friends:create' %}" class="nav-link">Add New Friend</a>
          </li>
        </div>
        <div>
          {% if user.is_authenticated %}
            <li class="nav-item active">
              <a href="{% url 'registration:logout' %}" class="nav-link">Logout</a>
            </li>
          {% else %}
            <li class="nav-item active">
              <a href="{% url 'registration:login' %}" class="nav-link">Login</a>
            </li>
          {% endif %}
        </div>
      </ul>
    </div>
  </nav>
  <div>
    {% if messages %}
      {% for message in messages %}
        <div class="alert alert-{{ message.level_tag }} alert-dismissible fade show mt-2 mx-5 text-center" role="alert">
          {{message}}
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
      {% endfor %}
    {% endif%}
    {%block content%}{%endblock%}
  </div>
{%endblock%}